@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

* {
    font-family: 'Nova Round', system-ui;
}

#home {
    color: #ffffff;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    /* Gradient color for background. */
    background: linear-gradient(to right,
            #101820, 0%,
            #101820, 50%,
            #FEE715 10%,
            #FEE715 100%);
}

/* Hides all items with this class */
.hidden {
    display: none;
}

h1,
a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Card for each quiz to be shown on */
.video-games,
.soccer {
    width: 500px;
    height: 400px;
    background: #81818149;
    border-radius: 30px;
    padding: 50px 20px;
    margin-bottom: 30px;
}

.sports-image,
.games-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 40px;
    text-indent: -9999px;
}

/* Style Buttons */
.btn {
    font-size: 1.3rem;
    padding: 15px;
    margin: 5px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bolder;
    border: 2px solid #1e1e1e;
}

.games {
    color: #1e1e1e;
    background: #ffffff;
}

.sports {
    color: #1e1e1e;
    background: #FEE715;
}

/* Activates when button is hovered with cursor */
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0;
    transition: transform 150ms;
    transform: scale(1.02);
}

/* Got from google search/Credited in ReadMe */
.sports-image {
    background: url(../images/rooneybc-quiz.webp) no-repeat center center/cover;

}

.games-image {
    background: url(../images/gow-ragnarok-quiz\ \(1\).webp) no-repeat center center/cover;
}

/* Soccer html page */
.rules {
    list-style-type: none;
    line-height: 2rem;
    font-size: 1.2rem;
}

#soccer {
    font-family: 'Nova Round', system-ui;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #101820;
}

.rules-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 80vh;
    background: #81818149;
    border-radius: 30px;
    padding: 50px 20px;
    margin-bottom: 30px;
}

/* Soccer quiz page */
.soccer-quiz {
    background: url(../images/pitch-bg.webp) no-repeat center center/cover;
    color: #101820;
    font-size: 1.5rem;
}

.choice-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    background: #FEE715;
    min-width: 50%;
    height: 4rem;
}

/*.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}*/

#hud {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#question {
    color: #fff;
}

/* Adds style when hovering over answers */
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 .4rem 1rem 0 #FEE715;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-text {
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 0;
    padding-left: 30px;
}

.choice-text {
    display: flex;
}

p .choice-text {
    align-items: center;
}

#timer {
    display: flex;
    align-items: center;
    align-self: center;
}

/* Progress Bar */
#progressBar {
    width: 90%;
    height: 40px;
    border: 0.2rem solid #FEE715;
    border-radius: 20px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #FEE715;
    width: 0%;
}

/* Color when you get the question correct/incorrect */
.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* End page */
#final-score {
    color:#1e1e1e;
}

/* To make fit on mobiles */
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 100px;
    }
}