@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

#home {
    font-family: 'Nova Round', system-ui;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    /* Gradient color for background. */
    background: linear-gradient(
        to right,
        #101820, 0%,
        #101820, 50%,
        #FEE715 10%,
        #FEE715 100%
      );    
}

/* Hides all items with this class */
.hidden {
    display: none;
}

h1, a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 4em;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.video-games, .sports {
    width: 500px;
    height: 400px;
    background: #81818149;
    border-radius: 30px;
    padding: 50px 20px;
    margin-bottom: 30px;
}

.sports-image, .games-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px; 
    width: 100%;
    max-width: 500px; 
    margin-bottom: 20px;
    border-radius: 40px;
}

/* Style Buttons */
.btn {
    font-size: 1.3rem;
    height: 50px;
    width: 12rem;
    margin: 5px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bolder;
    border: 2px solid #1e1e1e;
}

.games-easy {
    color: #1e1e1e;
    background: #101820,;
}

.sports-easy {
    color: #1e1e1e;
    background: #FEE715;
}

/* activates when button is hovered with cursor */
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0;
    transition: transform 150ms;
    transform: scale(1.02);
}

/* Got from google search/Credited in ReadMe */
.sports-image {
    background: url(../images/rooneybc-quiz.webp) no-repeat center center/cover;

}

.games-image {
    background: url(../images/gow-ragnarok-quiz\ \(1\).webp) no-repeat center center/cover;
}

/* Soccer html page */
.rules {
    list-style-type: none;
    line-height: 2rem;
    font-size: 1.2rem;
}

#soccer {
    font-family: 'Nova Round', system-ui;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #101820;
}

.rules-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    width: 60vw;
    height: 80vh;
    background: #81818149;
    border-radius: 30px;
    padding: 50px 20px;
    margin-bottom: 30px;
}