@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

/* Asterisk for general selector */
* {
    font-family: 'Nova Round', system-ui;
}

/* Home page styles */
#home {
    color: #ffffff;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/ball-img-dark.jpg) no-repeat center center/cover;
}

/* Hides all items with this class */
.hidden {
    display: none;
}

/* Hides link decoration on h1 */
h1,
a {
    text-decoration: none;
    color: #ffffff;
}

/* Style h1 for home */
#home h1 {
    text-align: center;
    font-size: 2em;
}

/* Container class */
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Card for each quiz to be shown on */
.soccer {
    width: 500px;
    height: 400px;
    background: #81818149;
    border-radius: 30px;
    padding: 50px 20px;
    margin-bottom: 30px;
}


.sports-image {
    /* Got from google search/Credited in ReadMe */
    background: url(../images/rooneybc-quiz.webp) no-repeat center center/cover;
    height: 300px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 40px;
    text-indent: -9999px;
}

/* Style Buttons */
.btn {
    font-size: 1rem;
    padding: 8px;
    height: 15px;
    margin: 5px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bolder;
    border: 2px solid #1e1e1e;
}

/* Button (a) styling */
.home {
    color: #1e1e1e;
    background: #ffffff;
}

.sports {
    color: #1e1e1e;
    background: #66fcf1;
}

/* Activates when button is hovered with cursor */
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0;
    transition: transform 150ms;
    transform: scale(1.02);
}

/* Soccer rules page */
.rules {
    margin: 0;
    list-style-type: none;
    margin-bottom: 50px;
    padding: 0;
    line-height: 2.5rem;
    font-size: .7rem;
    line-height: 20px;
}

.rules-container h1 {
    font-size: 1.4rem;
}

.rules-container h2 {
    font-size: 1.2rem;
    color: #66fcf1
}

/* General styles for rules page */
#soccer {
    font-family: 'Nova Round', system-ui;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/ball-img-dark.jpg) no-repeat center center/cover;
}

.rules-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 80vh;
    background: #26262670;
    border-radius: 30px;
    padding: 50px 20px;
    margin-bottom: 30px;
}

/* Soccer quiz page */
.soccer-quiz {
    background: url(../images/ball-img-dark.jpg) no-repeat center center/cover;
    color: #101820;
    font-size: 1.5rem;
    height: 100vh;
}

.soccer-quiz h1, #question-container h2 {
    color: #ffffff;
    font-size: 1rem;
}

.choice-container {
    display: flex;
    font-size: .7rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    background: #66fcf1;
    min-width: 60%;
    max-width: 80%;
    height: 2rem;
}

/* HUD items (timer, score) */
#hud {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: .8rem;
    color: #fff;
}

#question {
    color: #fff;
}

/* Adds style when hovering over answers */
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 .4rem 1rem 0 #66fcf1;
    transform: scale(1.02);
    transform: transform 100ms;
}

/* Choices styles */
.choice-text {
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 0;
    padding-left: 30px;
}

.choice-text {
    display: flex;
}

/* Progress Bar */
#progressBar {
    width: 90%;
    height: 10px;
    border: 0.2rem solid #66fcf1;
    border-radius: 20px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #66fcf1;
    width: 0%;
}

/* Color when you get the question correct/incorrect */
.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* End page */
#end {
    text-align: center;
    background: url(../images/ball-img-dark.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
}

#score-text {
    margin-top: 200px;
    color: #ffffff;
}

#final-score {
    font-size: 1.5rem;
    color: #66fcf1;
}

/* Query Selectors */
@media screen and (min-width: 768px){
    .container {
        height: fit-content;
        font-size: larger;
    }

    .rules-container h1 {
        font-size: 2.5rem;
    }

    .rules-container h2 {
        font-size: 2rem;
    }

    .rules {
        font-size: 1.6rem;
        line-height: 30px;
    }

    .choice-text {
        font-size: 1.5rem;
    }

    .choice-container {
        height: 4rem;
        width: 700px;
    }

    .soccer-quiz h1, #question-container h2 {
        color: #ffffff;
        font-size: 2rem;
    }

    #hud {
        font-size: 1.8rem;
    }
} 